<app-sidenav></app-sidenav>

<div class="board-container">
  <div class="close">
    <button sui-button suiEmphasis="secondary" (click)="toggleNav()">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <h1>
    Task Dashboard
    <a href="/add">
      <button sui-button suiEmphasis="primary">Add Task</button></a
    >
  </h1>
  <div class="board-cards-container">
    <div class="board-card-container">
      <h3>To do</h3>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, progressList]"
        class="board-card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="board-card-box" *ngFor="let item of todo" cdkDrag>
          <div sui-card suiColour="blue">
            <div class="content">
              <p id="id" style="display: none">{{ item.id }}</p>
              <p id="name">{{ item.name }}</p>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="board-card-container">
      <h3>In Progress</h3>

      <div
        cdkDropList
        #progressList="cdkDropList"
        [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="[doneList, todoList]"
        class="board-card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="board-card-box" *ngFor="let item of progress" cdkDrag>
          <div sui-card suiColour="orange">
            <div class="content">
              <p id="id" style="display: none">{{ item.id }}</p>
              <p id="name">{{ item.name }}</p>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="board-card-container">
      <h3>Done</h3>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, progressList]"
        class="board-card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="board-card-box" *ngFor="let item of done" cdkDrag>
          <div sui-card suiColour="green">
            <div class="content">
              <p id="id" style="display: none">{{ item.id }}</p>
              <p id="name">{{ item.name }}</p>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
