<app-sidenav></app-sidenav>

<div class="document-container">
  <div class="close">
    <button sui-button suiEmphasis="secondary" (click)="toggleNav()">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <h1>Write a document</h1>
  <form sui-form (ngSubmit)="saveDocument()">
    <div suiFormField>
      <input type="text" placeholder="Title of document" id="name" />
    </div>
    <button sui-button suiEmphasis="primary" type="submit">
      Save Document
    </button>
    <br />
    <br />
    <div suiFormField>
      <textarea rows="20" placeholder="Start Writing..."></textarea>
    </div>
  </form>
</div>
